@import models.User

@(user: Option[User] = None, next: String)(implicit request: RequestHeader, flash: Flash)

@main("Boards | Register", user) {
  <div class="container center-align">
    <div class="row">
      <div class="col s12 m8 push-m2 l6 push-l3 xl4 push-xl4">
        <div class="login-panel grey darken-3 z-depth-3">
          <div class="login-panel-header blue-grey darken-2 z-depth-1">
            <h5 class="white-text">Create Account</h5>
          </div>
          <div class="login-panel-body">
            <form method="POST">
              @helper.CSRF.formField
              <div class="input-field">
                <input class="validate white-text" id="username" name="username" type="text">
                <label class="white-text" for="username">Username</label>
              </div>
              <div class="input-field">
                <input class="validate white-text" id="password" name="password" type="password">
                <label class="white-text" for="password">Password</label>
              </div>
              <p class="red-text">@flash.get("error")</p>
              <button class="btn yellow darken-2 waves-effect" type="submit"
                  style="width: 175px;">
                <b class="left blue-grey-text text-darken-4">Register</b>
                <img class="btn-icon blue-grey darken-3" src='@routes.Assets.versioned("img/add-user.svg")'>
              </button>
            </form>
            <a class="white-text" href="@{s"/users/login?next=$next"}">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
}