@import models.User

@(user: Option[User] = None)(implicit request: RequestHeader)

@main("Boards", user) {
  <div class="container center-align">
    <div class="row">
      <div class="col m8 s12 push-m2">
        <br><br>
        <h2 class="white-text">Welcome to Boards.</h2>
        <p class="white-text">
          Boards is an online platform built for the design and testing of game playing bots.
          With an assortment of abstract strategy board games available,
          Boards is able to facilitate gameplay featuring any combination of human and computer-controlled players.
        </p>
        <img src='@routes.Assets.versioned("img/chess.svg")' style="width: 250px; height: 250px;">
        <br>
        <div class="row">
          <div class="col s6 right-align">
            <a class="btn yellow darken-2 waves-effect" href="/games/create"
                style="width: 175px">
              <b class="left blue-grey-text text-darken-4">New</b>
              <img class="btn-icon blue-grey darken-3" src='@routes.Assets.versioned("img/play.svg")'>
            </a> 
          </div>
          <div class="col s6 left-align">
            <a class="btn yellow darken-2 waves-effect" href="/games/browse"
                style="width: 175px">
              <b class="left blue-grey-text text-darken-4">Browse</b>
              <img class="btn-icon blue-grey darken-3" src='@routes.Assets.versioned("img/menu.svg")'>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
}