@import models.User

@(user: Option[User] = None)(implicit request: RequestHeader)

@main("Boards | Not Found", user) {
  <div class="valign-wrapper">
    <div class="container">
      <div class="center-align">
        <br><br><br>
        <h4 class="white-text title">This page could not be found.</h4>
        <br><br>
        <a class="btn yellow darken-2 waves-effect" href="/"
            style="width: 175px;">
          <b class="left blue-grey-text text-darken-4">Go Home</b>
          <img class="btn-icon blue-grey darken-3"
            src='@routes.Assets.versioned("img/logout.svg")'>
        </a>
      </div>
    </div>
  </div>
}