.small-text {
  font-size: 16px;
}

.medium-text {
  font-size: 24px;
}

.large-text {
  font-size: 32px;
}

.huge-text {
  font-size: 48px;
}

.title {
  padding-top: 25px;
  padding-bottom: 25px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.block {
  width: 100%;
}

.btn {
  position: relative;
  padding: 5px 20px 5px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0px;
}

.btn-icon {
  position: absolute !important;
  right: 0px;
  top: 0px;
  width: 60px;
  height: 100%;
  padding: 5px 15px;
  border-radius: 0px;
}

.btn span {
  margin-right: 60px;
}

.tabs {
  margin-bottom: 20px !important;
}

.small-icon {
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.medium-icon {
  position: relative;
  top: 2px;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.nav-wrapper {
  /*background-image: url("/assets/img/dark_geometric.png");*/
  padding-left: 20px;
  /*border-style: none none solid none;
  border-width: 4px;
  border-color: plum;*/
  z-index: 100;
}

.page-footer {
  /*background-image: url("/assets/img/dark_geometric.png");*/
  /*border-style: solid none none none;
  border-width: 4px;
  border-color: plum;*/
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.copyright {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.footer-logo {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.notification {
  border-radius: 4px;
  border-style: solid;
  border-color: darkslategray;
}

.login-panel {
  border-radius: 4px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-style: none none solid none;
  border-width: 4px;
  border-color: plum;
}

.login-panel-header {
  background-image: url("/assets/img/dark_geometric.png");
  border-radius: 4px 4px 0px 0px;
  padding: 1px;
  border-style: none none solid none;
  border-width: 4px;
  border-color: #fbc02d;
}

.login-panel-body {
  padding: 20px;
}

.menu-item {
  margin-top: 20px;
  border-radius: 4px;
  border-style: none none none solid;
  border-width: 4px;
  border-color: #fbc02d;
}

.menu-item-body {
  padding: 10px 25px;
}

.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: 275px;
  padding-top: 0;
}

.sidebar-header {
  position: relative;
  width: 100%;
  padding: 20px;
  top: 0;
  border-style: none none solid none;
  border-width: 4px;
  border-color: #fbc02d;
  
}

.sidebar-body {
  position: relative;
  width: 100%;
  padding: 20px;
}

.sidebar-player {
  position: relative;
  width: 100%;
}

.player-options {
  position: absolute;
  right: 0px;
  top: 10px;
}

.player-promote {
  position: relative;
  width: 30px;
  height: 15px;
  right: -20px;
  top: -8px;
  padding: 0px;
  border-radius: 2px;
  border-width: 2px;
}

.player-demote {
  position: relative;
  width: 30px;
  height: 15px;
  right: 10px;
  top: 8px;
  padding: 0px;
  border-radius: 2px;
}

.player-remove {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 12px;
}

.order-icon {
  width: 10px;
  height: 10px;
  left: 10px;
  top: -3px;
}

.remove-icon {
  width: 25px;
  height: 25px;
  left: 0px;
  top: 0px;
}

.tabs .indicator {
  color: white;
}